footer.bottom
  .container.hidden-xs
    p.navbar-text.pull-left
      | site design by
      a(href='#') Web designers
    p.navbar-text.pull-center
        | Job Portal ,sister concern of
        a(href='#') Careers Inc
        | Copyright 2014 All Right Reserved.
  .container.visible-xs
    p.navbar-text.pull-left Job Portal Inc
    //
      footer ends here