script(type='text/javascript', src='javascripts/vendor/jquery/jquery-1.11.1.js')
script(type='text/javascript', src='javascripts/vendor/holder/holder.js')
script(type='text/javascript', src='javascripts/vendor/bootstrap/bootstrap.js')
script(type='text/javascript', src='javascripts/vendor/bootstrap/bootstrap-slider.js')
script(type='text/javascript', src='javascripts/vendor/angular/angular.js')
script(type='text/javascript', src='javascripts/vendor/angular/angular-route.js')
script(type='text/javascript', src='javascripts/vendor/angular/angular-animate.js')
script(type='text/javascript', src='javascripts/vendor/jslinq/JSLINQ.js')
script(type='text/javascript', src='javascripts/angular/app.js')
script(type='text/javascript', src='javascripts/angular/controllers/navcontroller.js')
script(type='text/javascript', src='javascripts/angular/controllers/logincontroller.js')
script(type='text/javascript', src='javascripts/angular/controllers/searchcontroller.js')
script(type='text/javascript', src='javascripts/angular/controllers/searchfiltercontroller.js')
script(type='text/javascript', src='javascripts/angular/services/filterservice.js')
script(type='text/javascript', src='javascripts/angular/services/authservice.js')
script(type='text/javascript', src='javascripts/angular/services/searchservice.js')
script(type='text/javascript', src='javascripts/angular/services/suggestionsservice.js')
script(type='text/javascript', src='javascripts/angular/directives/modal.js')
script(type='text/javascript', src='javascripts/angular/directives/autocomplete.js')
script(type='text/javascript', src='javascripts/angular/services/restcallbackhandlerservice.js')
script(type='text/javascript', src='javascripts/angular/services/authinterceptor.js')
script(type='text/javascript', src='javascripts/angular/filters/refinesearchfilter.js')
script(type='text/javascript', src='javascripts/angular/filters/enablerefinefilter.js')
